@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@media (max-Width: 750px) {

  .Fira {
    font-family: 'Fira Code', monospace;
  }

  .sidenav {
    width: 100vw;
    position:fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    transition: .5s ease; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    background-color: white;
    
  
  }

  .homeText {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;
    margin-top: 110%;

  }

  .home {
    height: 100vh;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    overflow-anchor: none;
  }
  
  .About {
    height: 100vh;
    width: 100vw;
    background-image: url('./Images/Profile2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top right 30%;
    display:flex;
    color: white;
    font-weight: 500;
    padding-top: 5%;
  }

  .AboutText {
    display: flexbox;
    align-items: center;
    text-align: justify;
    margin: 5%;
    justify-content: center;
    
  }

  .experience {
    height: 100vh; 
    flex-direction: column; 
    margin: 5%;
    text-align: justify;
    overflow-anchor: none;
    padding-top: 5%;
  }
  
  .education {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    margin: 5%;
    text-align: justify;
    overflow-anchor: none;
    padding-top: 5%;
  }

  .projects {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin: 5%;
    text-align: justify;
    overflow-anchor: none;
  }
  .contact {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin: 5%;

    overflow-anchor: none;
  }

  .skills {
    
    height: 100vh;
    display: flex; 
    margin: 5%;
    text-align: justify;
    overflow-anchor: none;
    padding-top: 5%;
  }

  .gridlayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 22%;
  }

  .technicalIcon {
    height: 60%;
  }


  .profile {
    position: absolute;
    width: 70%;
    border-radius: 40% 70% 70% 40% / 40% 40% 70% 70%;
    animation: morphing 10s infinite;
    overflow: hidden;
    border-width: 3px;
    border-color: black;
  }


  br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
  }
    
  @keyframes morphing {
    0% {
      border-radius: 40% 70% 70% 40% / 40% 40% 70% 70%;
    }
    25% {
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
  }
  
  
  .h1 {
    font-size: 30pt;
  }
  
  .h2 {
    font-size: 20pt;
  }
  
  .h3 {
    font-size: 30pt;

  }
  .h4 {
    font-size: 15pt;
  }
  
  .text {
    font-size:8pt;
  }
  
  .bullet {
    font-size:0.8vw;
    text-align: left;
  }
  .sidenavtext {
    font-size:2.2vw;
    text-align: centre;
  }

}

