@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');


@media (min-Width: 750px) {

  .Fira {
    font-family: 'Fira Code', monospace;
  }

  .homeText {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    text-align: justify;
  }

  .home {
    height: 100vh;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    overflow-anchor: none;
  }
  
  .About {
    position: relative;

    height: 100vh;
    background-image: url('./Images/Profile2.jpg');
    background-size: cover;
    background-position:bottom;
    margin-left: 10%;


  }

  .AboutText {
    position: absolute;
    bottom: 30%;
    right: 40%;
    margin: 10%;
    font-size: 14pt;
    color: white;
    font-weight: 500;
  }

  .experience {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align: justify;
    overflow-anchor: none;

  }
  
  .education {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 50%;
    margin-bottom: 50%;
    text-align: justify;
    overflow-anchor: none;
  }
  .contact {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
    text-align: justify;
    overflow-anchor: none;
  }

  .projects {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
    text-align: justify;
    overflow-anchor: none;
  }

  .skills {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
    text-align: justify;
    overflow-anchor: none;
  }

  .gridlayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  

  .technicalIcon {
    height: 50pt;
  }


  .sidenav {
    height: 100vh;  
    width: 10%;
    position:fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    transition: .5s ease; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  

  .profile {
    width: 300pt;
    margin-left: 40pt;
    border-radius: 40% 70% 70% 40% / 40% 40% 70% 70%;
    animation: morphing 10s infinite;
    overflow: hidden;
    border-width: 3px;
    border-color: black;
  }



    
  @keyframes morphing {
    0% {
      border-radius: 40% 70% 70% 40% / 40% 40% 70% 70%;
    }
    25% {
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
  }
  
  
  .h1 {
    font-size: 60pt;
  }
  
  .h2 {
    font-size: 30pt;
  }
  
  .h3 {
    font-size: 45pt;

  }
  .h4 {
    font-size: 30pt;
  }
  
  .text {
    font-size:16pt;
  }
  
  .bullet {
    font-size:1vw;
    text-align: left;
  }
  .sidenavtext {
    font-size:10pt;
    text-align: centre;
  }

}
